* {
  margin: 0px;
}

body {
  display: flex;
  background-color: #0072B5;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 50%;
  color: white;
  background-color: black;
  font-size: 35px;
  border-radius: 30px;
}

.to_5 {
  position: absolute;
  text-align: center;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
}

.choice {
  position: absolute;
  text-align: center;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
}

.top {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 900;
}

#rock {
  width: 120px;
  height: 60px;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 20px;
  border-radius: 30px;
  background-color: white;
  border: 0;
}

#paper {
  width: 120px;
  height: 60px;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 20px;
  border-radius: 30px;
  background-color: white;
  border: 0;
}

#scissors {
  width: 120px;
  height: 60px;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 30px;
  background-color: white;
  border: 0;
}

#rock:hover {
  background-color: rgb(192, 192, 192);
}

#paper:hover {
  background-color: rgb(192, 192, 192);
}

#scissors:hover {
  background-color: rgb(192, 192, 192);
}

#result {
  position: absolute;
  width: 60vh;
  height: 10vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFF66;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}

.bottom_sx {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bolder;
  color: white;
}

.bottom_dx {
  margin: 0px;
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bolder;
  color: white;
}

.bottom {
  margin: 0px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  color: #DA2C43;
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

.fa-github {
  color: black;
  font-size: 27px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}